<div class="sidebar-wrapper">
    <div class="profile-container">
        <img class="profile" src="images/profile.jpg" alt="Bob Sakson" />
        <h1 class="name">Bob Sakson</h1>
    </div><!--//profile-container-->

    <div class="contact-container container-block">
        <ul class="list-unstyled contact-list">
            <li class="email"><i class="fa fa-envelope"></i><a href="mailto: bob.sakson@hotmail.com">bob.sakson@hotmail.com</a></li>
            <li class="phone"><i class="fa fa-phone"></i><a href="tel:512-221-4368">512-221-4368</a></li>
            <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/bob-sakson-csm-4968aa4/" target="_blank">linkedin.com</a></li>
            <li class="github"><i class="fa fa-github"></i><a href="https://github.com/bobsakson" target="_blank">github.com/bobsakson</a></li>
            <li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/bobsakson" target="_blank">@@bobsakson</a></li>
        </ul>
    </div><!--//contact-container-->
    <div class="education-container container-block">
        <h2 class="container-block-title">Education</h2>
        <div class="item">
            <h4 class="degree">BBA in Management Information Systems</h4>
            <h5 class="meta">Texas A&amp;M University</h5>
            <div class="time">1992 - 1996</div>
        </div><!--//item-->
    </div><!--//education-container-->

    <div class="interests-container container-block">
        <h2 class="container-block-title">Interests</h2>
        <ul class="list-unstyled interests-list">
            <li>Soccer</li>
            <li>BBQ</li>
            <li>Board Games</li>
            <li>Raspberry Pi</li>
        </ul>
    </div><!--//interests-->
</div>

<div class="main-wrapper">
    
    <section class="section summary-section">
        <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
        <div class="summary">
            <p>
                I am a fullstack developer, I have spent almost my entire career on the Microsoft technology stack.
                Starting off with Active Server Pages and COM+, up to the present working on the .NET Core platform.
                Recently, I have focused time on learning AngularJS, Angular 2, and React.
            </p>
        </div><!--//summary-->
    </section><!--//section-->
    
    <section class="section experiences-section">
        <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
        
        <div class="item">
            <div class="meta">
                <div class="upper-row">
                    <h3 class="job-title">Software Engineer</h3>
                    <div class="time">March 2015 - Present</div>
                </div><!--//upper-row-->
                <div class="company">Paylocity, Plano, TX</div>
            </div><!--//meta-->
            <div class="details">
                <p>
                    Member of the Employee Self Service team, working on projects focused on the employee experience of Paylocity's Web Pay product. 
                    Part of the of the recruiting team, interviewed developer candidates.  
                    Developed applications with .NET 4.5, C#, Entity Framework, SQL Server 2014, AngularJS. 
                </p>  
                <p>
                    Member of the Web Pay Security Re-Engineering temam, focused on developing applications and services for user rights in Web Pay.
                    Developed applications with .NET 4.5, .NET Core, C#, Dapper, SQL Server 2014, Microsoft Azure. 
                </p>
            </div><!--//details-->
        </div><!--//item-->
        
        <div class="item">
            <div class="meta">
                <div class="upper-row">
                    <h3 class="job-title">Architect</h3>
                    <div class="time">November 2014 - March 2015</div>
                </div><!--//upper-row-->
                <div class="company">Trisept Solutions, Irving, TX</div>
            </div><!--//meta-->
        </div><!--//item-->
        
        <div class="item">
            <div class="meta">
                <div class="upper-row">
                    <h3 class="job-title">Consultant</h3>
                    <div class="time">November 2011 - November 2014</div>
                </div><!--//upper-row-->
                <div class="company">Slalom Consulting, Dallas, TX</div>
            </div><!--//meta-->
            <div class="details">
                <p>
                    Part of the local Dallas team, staffed at client sites, focused on full stack software development using Agile software development methodologies.
                </p>
                <p>
                    Multi-Tenant Marketing Platform – Built a multi-tenant, marketing platform utilizing Thinktecture for the STS (security token service) and claims repository. 
                    Application developed on ASP.NET MVC 5, Simple Injector IoC, Entity Framework, WebAPI, log4net, and SpecFlow. 
                    Application deployed and hosted in Azure – websites, Cloud Services, SQL, Traffic Manager, and CDN. 
                    Utilized a custom NuGet repository to deploy shared code between multiple solutions. Application is monitored with New Relic. 
                    Work item tracking, source control, and build management handled by Visual Studio Online.
                </p>
                <p>Responsibilities included:</p>
                <ul>
                    <li>Scrum Master – lead sprint planning, reviews, and retrospectives</li>
                    <li>DevOps – configured Azure, builds, performed deployments, and configured New Relic</li>
                    <li>Developer – developed features, BDD tests in SpecFlow, performed code reviews, QA</li>
                </ul>
                <p>
                    Desktop Diagnostic Tool – Developed a prototype, WinForms application to capture Performance Monitor metrics and user feedback on the performance of their desktop and applications.
                </p>
                <p>
                    Judicial Bench Application – Worked in a Scrum team to develop new features and resolve defects for an application designed for judges to run a courtroom. The application is comprised of the following technologies: WPF (.NET 4, C#), MVVM, Castle-Windsor, Entity Framework, LINQ, SQL Server 2012, WCF, and PDFTron. Used PivotalTracker for ALM and AccuRev for source control.
                </p>
                <p>
                    Room Scheduling Application - Created a Windows 8 application that allowed individuals to book conference rooms from a touch device. Application was developed in C# &amp; XAML, SQL Server 2012, and Exchange.
                </p>
                <p>
                    Property Tax Application - Developed a property tax application, using the Scrum and TFS for ALM, to handle the tax lifecycle for commercial clients. Application was built on the Silverlight 5 platform and employed the following technologies: C#, RIA Services, MVVM, Unity, MEF, ADO.NET Entity Framework, LINQ, SQL Server 2008.
                </p>
            </div><!--//details-->
        </div><!--//item-->

        <div class="item">
            <div class="meta">
                <div class="upper-row">
                    <h3 class="job-title">Manager of Architecture</h3>
                    <div class="time">April 2001 - November 2011</div>
                </div><!--//upper-row-->
                <div class="company">Horizon Lines, Irving, TX</div>
            </div><!--//meta-->
            <div class="details">
                <p>
                    Manager of Architecture
                </p>
                <p>
                    Focused on driving costs out of the organization and adding business value through server consolidation, software license reduction, building reusable services and tools, and creating efficient technical solutions. 
                    Responsible for the Architecture department budget and leading a group of SQL DBAs, Oracle DBAs, Microsoft Architects, and Oracle Architects. 
                    Engaged staffing vendors to define job requirements, negotiate rates, screen and interview candidates, and on-board development staff. 
                    Negotiated the Microsoft Enterprise and Premier Support contracts. 
                </p>
                <p>
                    Lead projects to implement the following technologies:
                </p>
                <ul>
                    <li>SQL Server 2005 &amp; 2008</li>
                    <li>ASP to ASP.NET conversions</li>
                    <li>Oracle Single Sign On</li>
                    <li>Crystal Reports to SSRS conversion</li>
                    <li>RightFax</li>
                    <li>Team Foundation Server 2005 &amp; 2010</li>
                    <li>Scanning and Imaging documents into OnBase</li>
                </ul>
                <p>
                    Architect
                </p>
                <p>
                    Tasked with providing innovative solutions for line of business applications. 
                    Defined technical and functionality requirements based on business requirements gathered from key stakeholders. 
                    Mentored development staff, performed code reviews, and lead technical brown bag sessions covering current and future technologies. 
                    Responsible for screening, interviewing, and assessing developer candidates. 
                    Created a skills matrix used to rank developers for quarterly reviews. 
                    Played an integral role in decommissioning the company's mainframe, which saved $2 million annually. 
                    Responsible for DevOps for application and database servers.
                </p>
                <p>
                    Built applications using the following technologies:
                </p>
                <ul>
                    <li>ASP/ASP.NET WebForms &amp; MVC (C# &amp; VB.NET)</li>
                    <li>COM+ (Visual Basic 6)</li>
                    <li>IIS 4/5/6/7</li>
                    <li>XML &amp; XSL</li>
                    <li>XMLHTTP/AJAX</li>
                    <li>JavaScript/jQuery</li>
                    <li>.NET Framework 1.1 - 4.0, .NET Compact Framework</li>
                    <li>DOS and Windows CE handheld scanners</li>
                    <li>MSMQ and MSMQ Triggers</li>
                    <li>SOA/Web Services/Windows Communication Foundation(WCF)</li>
                    <li>X12 EDI</li>
                    <li>SQL Server 2000 - 2008 (DDL &amp; DML)</li>
                    <li>DB2</li>
                    <li>SSRS Reports, Crystal Reports</li>
                    <li>Windows Workflow Foundation (WWF)</li>
                </ul>
            </div><!--//details-->
        </div><!--//item-->

        <div class="item">
            <div class="meta">
                <div class="upper-row">
                    <h3 class="job-title">Consultant</h3>
                    <div class="time">November 2000 - April 2001</div>
                </div><!--//upper-row-->
                <div class="company">XO Communications, Plano, TX</div>
            </div><!--//meta-->
        </div><!--//item-->

        <div class="item">
            <div class="meta">
                <div class="upper-row">
                    <h3 class="job-title">Senior Web Developer</h3>
                    <div class="time">November 1999 - November 2000</div>
                </div><!--//upper-row-->
                <div class="company">AVIVA, Dallas, TX</div>
            </div><!--//meta-->
        </div><!--//item-->

        <div class="item">
            <div class="meta">
                <div class="upper-row">
                    <h3 class="job-title">Consultant</h3>
                    <div class="time">February 1998 - November 2000</div>
                </div><!--//upper-row-->
                <div class="company">Accenture, Dallas, TX</div>
            </div><!--//meta-->
        </div><!--//item-->

        <div class="item">
            <div class="meta">
                <div class="upper-row">
                    <h3 class="job-title">Consultant</h3>
                    <div class="time">January 1997 - February 1998</div>
                </div><!--//upper-row-->
                <div class="company">ARGO Data, Dallas, TX</div>
            </div><!--//meta-->
        </div><!--//item-->
        
    </section><!--//section-->
        
    <section class="skills-section section">
        <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
        <div class="skillset">        
            <div class="item">
                <h3 class="level-title">.NET</h3>
                <div class="level-bar">
                    <div class="level-bar-inner" data-level="98%">
                    </div>                                      
                </div><!--//level-bar-->                                 
            </div><!--//item-->
            
            <div class="item">
                <h3 class="level-title">Javascript &amp; jQuery</h3>
                <div class="level-bar">
                    <div class="level-bar-inner" data-level="98%">
                    </div>                                      
                </div><!--//level-bar-->                                 
            </div><!--//item-->
            
            <div class="item">
                <h3 class="level-title">SQL Server</h3>
                <div class="level-bar">
                    <div class="level-bar-inner" data-level="98%">
                    </div>                                      
                </div><!--//level-bar-->                                 
            </div><!--//item-->

            <div class="item">
                <h3 class="level-title">HTML5 &amp; CSS</h3>
                <div class="level-bar">
                    <div class="level-bar-inner" data-level="70%">
                    </div>                                      
                </div><!--//level-bar-->                                 
            </div><!--//item-->

            <div class="item">
                <h3 class="level-title">Javascript</h3>
                <div class="level-bar">
                    <div class="level-bar-inner" data-level="60%">
                    </div>                                      
                </div><!--//level-bar-->                                 
            </div><!--//item-->
            
            <div class="item">
                <h3 class="level-title">Angular</h3>
                <div class="level-bar">
                    <div class="level-bar-inner" data-level="50%">
                    </div>                                      
                </div><!--//level-bar-->                                 
            </div><!--//item--> 
        </div>  
    </section><!--//skills-section-->
    
</div><!--//main-body-->